body {
  background-color: lightgrey;
}

.container-main {
  display: flex;
  height: 88vh;
}

aside {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  width: 25vw;
}

.posts {
  display: flex;
  flex-direction: column;
  width: 74.5vw;
  padding: 3%;
  overflow: auto;
}
